:root {
  --yellowish: #ffbf46;
  --raisinblack: #272932;
  --purplenavy: #474973;
  --radius: 0;
  --bgColor: rgba(255, 0, 0, 1);
  --rndmHex: #afdbf6;
  --op: 1;
  --posY: 0;
  --posX: 0;
  --size: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  color: var(--raisinblack);
}

.panelControl {
  display: flex;
  align-items: center;
}

.titulos-principales {
  text-align: center;
  margin-top: 1vh;
}

.titulos-secundarios {
  font-size: 0.8rem;
}

.panel {
  height: 25vh;
  width: 12vw;
  background-color: var(--yellowish);
  border-radius: 8px;
  margin-left: 0.2vw;
}

.indicadores,
.indicadores-vert {
  display: flex;
  justify-content: space-between;
}

.indicadores-vert {
  flex-direction: column;
  align-items: center;
}

.subpanel,
.subpanel2 {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  height: 50%;
  margin: 2vh auto;
  padding: 0 1vw;
}

.subpanel {
  align-items: center;
}

.subpanel2 {
  flex-direction: column;
}

.subpanel3 {
  display: flex;
  height: 65%;
  margin: 2vh auto;
  padding: 1vh auto;
}

#sliderY {
  transform: rotate(-270deg);
}

.sliders {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* Objeto manipulable con el DOM */
.objeto {
  margin-top: 6vh;
  margin-left: 0.3vw;
  height: 200px;
  width: 200px;
  border-radius: var(--radius);
  background-color: var(--bgColor);
  opacity: var(--op);
  transform: scale(var(--size)) translateX(var(--posX)) translateY(var(--posY));
}
